.pdf-title {
    text-align: center;
}
.pdf-images-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 10px; /* Add padding to space out the border */
    
}
.pdf-title + .pdf-images-container {
    border-top: 25px solid rgb(206, 86, 42); /* Add a border style */
    padding-top: 10px; /* Add padding to space out the border */
}
.pdf-image-wrapper {
    margin: 10px;
    position: relative;
    border: 1.5px black solid;
}
.pdf-image-wrapper img {
    width: 300px;
    height: auto;
}
.pdf-image-caption {
    position: absolute;
    bottom: 5px;
    right: 5px;
    font-size: 12px;
    background-color: white;
    padding: 2px;
    border-radius: 5px;
}